<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    *{
      padding: 0;
      margin: 0;
    }
    form label{
      display: block;
      margin: 20px 0;
    }
  </style>
</head>
<body>
  <form action="/signin" method="post">
    <label for="">
      <span>用户名</span>
      <input type="text" name="name" placeholder="请输入用户名">
    </label>
    <label for="">
      <span>密码</span>
      <input type="text" name="password" placeholder="请输入密码">
    </label>
    <button type="submit">注册</button>
  </form>
</body>
</html>